* {
    margin: 0px;
    padding: 0px;
  }
  
  body {
    background-color: #fafafa;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
  }
  
  #wrapper {
    width: 500px;
    border: 0px solid #000;
    margin: 50px auto;
    margin-top: 10%;
  }
  
  .main-content {
    width: 250px;
    margin: 10px auto;
    background-color: #fff;
    border: 2px solid #e6e6e6;
    padding: 40px 50px;
  }
  
  .header {
    border: 0px solid #000;
    margin-bottom: 30px;
  }
  
  .header img {
    margin: auto;
    height: 50px;
    position: relative;
    left: 40px;
  }
  
  .input-1,
  .input-2 {
    width: 100%;
    height: 38px;
    margin-bottom: 5px;
    padding: 8px 12px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    border: 1px solid rgba(var(--ca6,219,219,219),1);
    box-sizing: border-box;
    border-radius: 3px;
  }
  
  .overlap-text {
    position: relative;
  }
  
  .forgot {
    margin: 0 auto;
    text-align: center;
    top: 100px;
    right: 10px;
    font-size: 14px;
    margin-top: 10px;
  }

  .forgot a {
    text-decoration: none;
  }
  
  .btn {
    width: 100%;
    margin-top: 20px;
    background-color: #3897f0;
    border: 1px solid #3897f0;
    padding: 7px 12px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    border-radius: 3px;
  }
  
  .sub-content {
    width: 250px;
    margin: 10px auto;
    border: 1px solid #e6e6e6;
    padding: 20px 50px;
    background-color: #fff;
  }
  
  .s-part {
    text-align: center;
    font-weight: normal;
  }
  
  .s-part a {
    text-decoration: none;
    cursor: pointer;
    color: #3897f0;
    font-weight: normal;
  }

  .get-app {
      text-align: center;
      width: 100%;
      margin: 10px auto;
  }

  .app-img {
    width: 100%;
    height: auto;
    margin: 0 auto;
    position: relative;
}

.footer {
  font-size: 12px;
  text-align: center;
}

.footer a {
  text-decoration: none;
  color: #8e8e8e;
  padding: 5px;
}

footer div.a {
  text-align: justify; /* For Edge */
  -moz-text-align-last: justify; /* For Firefox prior 58.0 */
  text-align-last: justify;
}